@font-face {
	font-family: 'apex';
	src:url('fonts/apex.eot');
	src:url('fonts/apex.eot?#iefix') format('embedded-opentype'),
    url('fonts/apex.woff') format('woff'),
		url('fonts/apex.ttf') format('truetype'),
		url('fonts/apex.svg#apex') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'apex';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-feed:before {
	content: "\66";
}
.icon-home:before {
	content: "\68";
}
.icon-bubbles:before {
	content: "\62";
}
.icon-quill:before {
	content: "\71";
}
.icon-forward:before {
	content: "\77";
}
.icon-key:before {
	content: "\6b";
}
.icon-airplane:before {
	content: "\61";
}
.icon-eye:before {
	content: "\65";
}
.icon-close:before {
	content: "\78";
}
.icon-arrow-right:before {
	content: "\72";
}
.icon-arrow-left:before {
	content: "\6c";
}
.icon-calendar:before {
	content: "\63";
}
.icon-arrow-down:before {
	content: "\64";
}
